:root {
    --blue: #0A4BED;
    --pink: #D895CA;
    --purple: #401FD6;
    --text-color: #111;
    --link-color: var(--purple);
    --background: #EEF1F6;
    --main-width: 40em;
}

html {
    font-size: 1em;
    line-height: 1.5;
    height: 100%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
} 

body {
    color: var(--text-color);
    font-family: arial;
    font-size: 17px;
    margin: 0;
    padding: 0;
}

h1 {
    color: var(--primary);
    font-size: 1.3rem;
}

h2 {
    color: var(--primary);
    font-size: 1.1rem;
}

a, a:link {
    color: var(--link-color)
}

.hidden {
    display: none !important;
}

.container {
    display: grid;         
    grid-template-rows: min-content min-content 1fr min-content;
    grid-template-areas:
        "header header header"
        "nav nav nav"
        "main main main"
        "footer footer footer";
    grid-template-columns:
        [full-start] minmax(.5em, 1fr) 
        [main-start] minmax(0, var(--main-width)) [main-end]
        minmax(.5em, 1fr) [full-end];
    height: 100vh;
    width: 100%;
    grid-gap: 0;
}

header {
    background: var(--background);
    color: var(--blue);
    grid-area: header;
    padding: 1rem;
    text-align: center;
}

header img {
    max-width: 500px;
    width: 100%;
}

nav a, a:link, a:hover, a:visited
{
    color: #fff;
    text-decoration: none;
    padding: 1rem;
    display: block;
}
nav a:hover
{
    color: var(--pink);
    background-color: var(--pink);
}

nav {
    background: var(--blue);
    color: #fff;
    grid-area: nav;
    width: 100%;
    padding: 0;
    line-height: 1;
}

nav a:link, a:hover, a:visited {
    color: #fff;
}

nav>ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav>ul>li {
    flex: 1;
}

main {
    background: var(--background);
    color: var(--text-color);
    grid-area: main;
    padding: 0;
    grid-auto-rows:
        min-content;
    grid-gap: 0;
    grid-column: full;
}

main section {
    grid-column: main;
    padding: 1rem;
}

main section.full {
    grid-column: full;
}

main section.purple {
    background-color: var(--purple);
}

main section.girlscode {
    background: url("../img/background.jpg") no-repeat center center;
    background-size: cover;
    grid-column: full;
    text-align: center;
    padding: 12rem 0;
}

main section.girlscode img {
    width: 100%;
    max-width: 50rem;
}

main section.girlscode h2 {
    color: #fff;
}

footer {
    background: var(--pink);
    color: #000;
    grid-area: footer;
    text-align: center;
    width: 100%;
    line-height: 1;
}

@media only screen and (max-width: 600px)
{
    nav>ul {
        flex-direction: column;
    }

    main section {
        padding: .2rem 0rem;
    }
}
